body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.header {
	display: flex;
	justify-content: center;
	height: 25vh;
}

.tft-logo {
	margin: 3vh;
	width: min(22vh, 95vw);
}

.container {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5% 7.5%;
	height: min(60vh, 120vw);
	width: min(40vh, 80vw);
	margin: auto;
}

.main > button {
	border: none;
}

.main > button:hover,
.main > button:focus {
  box-shadow: 0 0.5vmin 0.5vmin -0.4vmin black;
  transform: translateY(-0.75vmin);
}

#kaydol {
	background-color: #f18a21;
	font: bold extra-condensed min(8vh, 16vw) "Verdana", sans-serif;
	text-align: center;
	color: white;
	grid-column-start: 1;
	grid-column-end: 3;
}

.button-image {
	background-size: 80%, 100% !important;
	background-position: center, center !important;
}

#discord {
	background: url(res/discord.svg) no-repeat, #7289da;
}

#whatsapp {
	background: url(res/whatsapp.svg) no-repeat, #25D366;
}

#instagram {
	background: url(res/instagram.svg) no-repeat, oldlace;
}

#youtube {
	background: url(res/youtube.svg) no-repeat, red;
}