body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background: gainsboro;
}

button {
	border: none;
}

button:hover,
button:focus {
  transform: scale(103%, 103%);
  transition: 100ms;
}

.section {
	background: whitesmoke;
	border-radius: 2rem;
	padding: 2rem;
	box-shadow: 0 0 0.2rem 0.05rem black;
}

.button-image {
	background-size: 80% !important;
	background-position: center, center !important;
}

#header {
	display: flex;
	justify-content: center;
}

#tft-logo {
	margin: 1rem;
	width: 10rem;
	padding: 1rem;
	border-radius: 50%;
}

#main {
	width: 40rem;
	height: 20rem;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem 1rem;
}

#kaydol {
	background-color: #f18a21;
	font: bold normal 6rem "Droid Sans", sans-serif;
	text-align: center;
	color: white;
	grid-column-start: 1;
	grid-column-end: 5;
}

#discord {
	background: url(res/discord.svg) no-repeat, #7289da;
}

#whatsapp {
	background: url(res/whatsapp.svg) no-repeat, #25D366;
}

#instagram {
	background:
		url(res/instagram.svg) no-repeat center/80%, 
		radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
		radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
		radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
		radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
		radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
		radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
		radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
		linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100% 100%)
		!important;
}

#youtube {
	background: url(res/youtube.svg) no-repeat, red;
}

#about {
	margin: 1rem auto 5rem auto;
	width: 40rem;
	font: normal 1.25rem "Droid Sans", sans-serif;
	color: #080040;
}

#about > h1 {
	font: bold normal 2rem "Droid Sans", sans-serif;
	text-align: center;
}

#about > * {
	margin: 2rem 1rem;
}